<html>
<head>
    <title>Welcome to Lucidity modules</title>

</head>
<body>
<h1>You made it!</h1>
<p>This page has been visited
    <page-count name="hello-world"></page-count>
    times!
</p>
</body>
</html>
